/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* GENERAL */

.container {
  /* border: 1px dashed blue; */
  /* height: 100vh; */
}

.row {
  /* border: 1px dashed red; */
  height: 100%;
}

/* SIDE SECTION START */

.col-4 {
  background-color: #f0f2f5;
}

.header-right-col {
  background-color: #f0f2f5;
}
.col-8 {
  background: url(../img/mine.jpg);
}

/* search bar */
.searchBar {
}
/* card */
.avatarTextCard {
  position: relative;
  border-bottom: 1px solid gray;
}

.textCard {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.textHour {
  position: absolute;
  top: 0;
  right: 0;
}
/* SIDE SECTION END */

/* CONVERSATION SECTION START */

.conversationPanel {
  /* border: 3px dashed orange; */

  height: 100%;
}

.activeTextCard {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.activeTextCard > div {
  width: 300px;
}

.message {
  max-width: 70%;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.message.received {
  background-color: lightgreen;
}

.message.sent {
  background-color: lightgray;
  align-self: flex-end;
}
/* CONVERSATION SECTION END */

/* DEBUG */
.active {
  background-color: #90ee90;
}
