/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #d8dbd4;
  font-family: "Roboto", sans-serif;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#root {
  background-color: #d8dbd4;
}

.green-top-border {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 6rem;
  background-color: #009688;
  margin-bottom: 2rem;
}
/* GENERAL */

.container {
  position: relative;
}

.top-border-from-panel {
  padding-top: 2rem;
}

/* SIDE SECTION START */
.header-left-col {
  background-color: #eaeaea;
  border-right: 1px solid #b1b1b1;
}

.col-8,
.col-4 {
  padding: 0;
}

.left-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #8edafc;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  color: #8edafc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 2rem;
  margin-right: 1rem;
}

.notifications {
  display: flex;
  flex-direction: column;
}

.header-right-col {
  background: #eaeaea;
}

.top-icons {
  color: #b1b1b1;
  font-size: 1.3rem;
  font-weight: bolder;
}

.conversations {
  background: url(../img/mine.jpg);
  margin-bottom: 2rem;
}

/* search bar */
.searchBar {
  padding: 1rem;
  background-color: #fafafa;
}
/* card */
.avatarTextCard {
  position: relative;
  padding: 0 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #b1b1b1;
}

.avatarTextCard:nth-last-child(2) {
  border-bottom: none;
}
.textCard {
  position: absolute;
  bottom: 1rem;
  left: 4.5rem;
}

.avatar-img-background {
  background-color: gray;
}
#bottom-textcard-margin-white {
  height: 3rem;
  background-color: #ffffff;
}
.textHour {
  position: absolute;
  top: 0;
  right: 0.5rem;
}
/* SIDE SECTION END */

/* CONVERSATION SECTION START */

.conversationPanel {
  padding: 1rem 0;
}

.activeTextCard {
  position: absolute;
  bottom: 1rem;
  left: 4rem;
}

.activeTextCard > div {
  width: 300px;
}

.message {
  width: 18rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-right: 3rem;
}
.message.received {
  background-color: lightgreen;
  margin-left: 3rem;
}

.message.sent {
  background-color: lightgray;
  align-self: flex-end;
}
/* CONVERSATION SECTION END */
/* FOOTER */
.send-message-bar {
  position: absolute;
  bottom: 0;
  background-color: #f3eeea;
  width: 100%;
}
/* DEBUG */
.active {
  background-color: #90ee90;
}
