<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Vue Boolzapp</title>

    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- VUE JS -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.cjs.js"></script> -->

    <!-- MAIN JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
  </head>

  <body>
    <!-- vue start -->
    <div id="root">
      <div class="green-top-border"></div>
      <div class="container top-border-from-panel">
        <header class="row">
          <!-- header left side -->
          <div class="header-left-col col-4 d-flex">
            <div class="d-inline">
              <img src="./img/avatar_io.jpg" alt="" class="my-3 ms-3" />
              <span>Simone</span>
            </div>
            <div class="top-icons d-inline ms-auto me-3 align-self-center">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message mx-3"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- header right side -->
          <div class="header-right-col col-8 d-flex">
            <div class="d-inline position-relative mx-3">
              <img
                :src="'./img/avatar' + contacts[clickedContact].avatar + '.jpg'"
                alt=""
                class="my-3"
              />
              <div class="activeTextCard">
                <div>{{contacts[clickedContact].name}}</div>
                <div>Ultimo accesso oggi alle 12:00</div>
              </div>
            </div>
            <div class="top-icons d-inline ms-auto align-self-center">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip my-3 mx-3"></i>
              <i class="fa-solid fa-ellipsis-vertical me-3"></i>
            </div>
          </div>
        </header>
      </div>

      <div class="container conversations">
        <div class="row">
          <div class="col-4">
            <div class="d-flex left-bar">
              <div class="bell">
                <i class="fa-solid fa-bell-slash"></i>
              </div>
              <div class="notifications">
                Ricevi notifiche di nuovi messaggi
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>

            <div class="searchBar">
              <form class="d-flex" role="search">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  v-model="mySearch"
                  @keyUp="filterList()"
                />
              </form>
            </div>
            <!-- Card -->
            <div
              class="avatarTextCard"
              v-for="(contact, index) in contacts"
              @click="activeImage(index)"
              :class="(index == clickedContact ) ? 'active':''"
              v-show="contact.visible"
            >
              <div class="col-10">
                <img
                  :src="'./img/avatar' + contact.avatar +'.jpg'"
                  alt=""
                  class="my-3"
                />
                <div class="textCard">
                  <div>{{ contact.name }}</div>
                  <div v-if="contact.messages.length">
                    {{ contact.messages[contact.messages.length - 1].text }}
                  </div>
                </div>
                <div class="textHour">
                  {{ contact.messages[contact.messages.length - 1].date }}
                </div>
              </div>
            </div>
            <div id="bottom-textcard-margin-white"></div>
          </div>
          <!-- conversation panel -->
          <div class="col-8 position-relative">
            <div class="conversationPanel">
              <!-- Received & Sent Texts active -->
              <div
                v-for="(sms, i) in contacts[clickedContact].messages"
                class="d-flex flex-column flex-grow-1 align-items-start"
              >
                <div :class="[sms.status]" class="message">
                  {{sms.text}} <br />
                  <small>{{sms.date}}</small>
                </div>
              </div>
              <!-- footer -->
              <div class="send-message-bar d-flex py-3">
                <div class="d-flex align-items-center icons px-4 py-2">
                  <i class="fa-regular fa-face-smile mx-2"></i>
                </div>
                <div class="flex-grow-1">
                  <input
                    type="text"
                    placeholder="Scrivi un messaggio"
                    class="send-message-input px-4 p-2 w-100"
                    @keyUp.enter="addText()"
                    v-model="myNewText.text"
                  />
                </div>
                <div class="d-flex align-items-center icons px-4 py-2">
                  <i class="fa-solid fa-microphone mx-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
